title: Victoria Kim
author: Victoria Kim
navbar-links:
  About Me: aboutme
  Resources:
    - Beautiful Jekyll: https://beautifuljekyll.com
    - Learn markdown: https://www.markdowntutorial.com/
  Author's home: https://deanattali.com
avatar: /assets/img/photo.jpg
round-avatar: true
social-network-links:
  email: vsk2@williams.edu
  rss: true
  facebook: deanattali
  github: victoriakimm
  # youtube: c/daattali
  telephone: 16107041972
rss-description: This website is a virtual proof that I'm awesome
share-links-active:
  twitter: true
  facebook: true
  linkedin: true
  vk: false
url-pretty: MyWebsite.com
excerpt_length: 50
feed_show_excerpt: true
feed_show_tags: true
post_search: true
edit_page_button: true
navbar-var-length: false
navbar-col: "#EAEAEA"
navbar-text-col: "#404040"
navbar-border-col: "#DDDDDD"
page-col: "#FFFFFF"
text-col: "#404040"
link-col: "#008AFF"
hover-col: "#0085A1"
footer-col: "#EAEAEA"
footer-text-col: "#777777"
footer-link-col: "#404040"
footer-hover-col: "#0085A1"
date_format: "%B %-d, %Y"
timezone: America/Toronto
markdown: kramdown
highlighter: rouge
permalink: /:year-:month-:day-:title/
paginate: 5
kramdown:
  input: GFM
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true
      social-share: true
  - scope:
      path: ""
    values:
      layout: page
exclude:
  - CHANGELOG.md
  - CNAME
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - screenshot.png
  - docs/
plugins:
  - jekyll-paginate
  - jekyll-sitemap
